{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'admin_head.html' %}
<body>

    {% include 'admin_header.html' %}

    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
        <ul>
        <li class="menu-title"><span>Main</span></li>
        <li>
        <a href="{% url 'admin_dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
        </li>
        <li class="active">
        <a href="{% url 'categories' %}"><i data-feather="copy"></i> <span>Categories</span></a>
        </li>
        <li>
        <a href="{% url 'projects' %}"><i data-feather="database"></i> <span>Projects</span></a>
        </li>
        <li>
        <a href="{% url 'users' %}"><i data-feather="users"></i> <span>Freelancer</span></a>
        </li>
        <li>
        <a href="{% url 'deposit' %}"><i data-feather="user-check"></i> <span>Deposit</span></a>
        </li>
        <li>
        <a href="{% url 'withdrawn' %}"><i data-feather="user-check"></i> <span>Withdrawn</span></a>
        </li>
        <li>
        <a href="{% url 'subscription' %}"><i data-feather="user-check"></i> <span>Subscription</span></a>
        </li>
        <li>
        <a href="{% url 'reports' %}"><i data-feather="pie-chart"></i> <span>Reports</span></a>
        </li>
        <li>
        <a href="{% url 'settings' %}"><i data-feather="settings"></i> <span>Settings</span></a>
        </li>
        </div>
        </div>
        </div>

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Categories</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="admin' %}">Home</a>
</li>
<li class="breadcrumb-item active">Categories</li>
</ul>
</div>
<div class="col-auto">
<a href="#" class="btn add-button me-2" data-bs-toggle="modal" data-bs-target="#add-category">
<i class="fas fa-plus"></i>
</a>
<a class="btn filter-btn" href="javascript:void(0);" id="filter_search">
<i class="fas fa-filter"></i>
</a>
</div>
</div>
</div>


<div class="card filter-card" id="filter_inputs">
<div class="card-body pb-0">
<form action="#" method="post">
<div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Add Categories</label>
<input class="form-control" type="text">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>From Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>To Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<button class="btn btn-primary btn-block" type="submit">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center table-hover mb-0 datatable">
<thead>
<tr>
<th>S.No</th>
<th>Category Name</th>
<th class="text-end">Actions</th>
</tr>
</thead>
<tbody>
    {% for category in categories %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ category.name }}</td>
    <td class="text-end">
    <a href="{% url 'delete-category' category.id %}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="modal fade custom-modal" id="add-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

<div class="modal-header">
<h4 class="modal-title">Add Category</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>

<div class="modal-body">
    <form method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" name="category_name" placeholder="Enter Category Name" value="{{ category.name }}">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
    
</div>
</div>
</div>
</div>


<div class="modal custom-modal fade" id="delete_category" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-header">
<h3>Delete</h3>
<p>Are you sure want to delete?</p>
</div>
<div class="modal-btn delete-action">
<div class="row">
<div class="col-6">
<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
</div>
<div class="col-6">
<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'admin_scripts.html' %}
</body>
<script>
    
</script>
<!-- Mirrored from kofejob.dreamguystech.com/template/admin/categories' %} by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:32:12 GMT -->
</html>