{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'admin_head.html' %}
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="{% static 'asset/img/logo.png' %}" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="{% static 'asset/img/logo-small.png' %}" alt="Logo" width="30" height="30">
</a>

<a href="javascript:void(0);" id="toggle_btn">
<i class="feather-chevrons-left"></i>
</a>


<a class="mobile_btn" id="mobile_btn">
<i class="feather-chevrons-left"></i>
</a>

</div>


<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Start typing your Search...">
<button class="btn" type="submit"><i class="feather-search"></i></button>
</form>
</div>


<ul class="nav user-menu">

<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i class="feather-bell"></i> <span class="badge badge-pill">5</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-02.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-03.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">New user registered</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-04.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">You have received a new message</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{% static 'asset/img/profiles/avatar-07.jpg' %}" alt>
<span class="status online"></span>
</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i> Profile</a>
<a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i> Settings</a>
<a class="dropdown-item" href="login.html"><i data-feather="log-out" class="me-1"></i> Logout</a>
</div>
</li>

</ul>

</div>


<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
    <ul>
    <li class="menu-title"><span>Main</span></li>
    <li>
    <a href="{% url 'admin_dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
    </li>
    <li>
    <a href="{% url 'categories' %}"><i data-feather="copy"></i> <span>Categories</span></a>
    </li>
    <li>
    <a href="{% url 'projects' %}"><i data-feather="database"></i> <span>Projects</span></a>
    </li>
    <li>
    <a href="{% url 'users' %}"><i data-feather="users"></i> <span>Freelancer</span></a>
    </li>
    <li class="active">
    <a href="{% url 'deposit' %}"><i data-feather="user-check"></i> <span>Deposit</span></a>
    </li>
    <li>
    <a href="{% url 'withdrawn' %}"><i data-feather="user-check"></i> <span>Withdrawn</span></a>
    </li>
    <li>
    <a href="{% url 'transaction' %}"><i data-feather="clipboard"></i> <span>Transaction</span></a>
    </li>
    <li>
    <a href="{% url 'providers' %}"><i data-feather="user-check"></i> <span>Providers</span></a>
    </li>
    <li>
    <a href="{% url 'subscription' %}"><i data-feather="user-check"></i> <span>Subscription</span></a>
    </li>
    <li>
    <a href="{% url 'reports' %}"><i data-feather="pie-chart"></i> <span>Reports</span></a>
    </li>
    <li>
    <a href="{% url 'roles' %}"><i data-feather="clipboard"></i> <span>Roles</span></a>
    </li>
    <li>
    <a href="{% url 'skills' %}"><i data-feather="award"></i> <span>Skills</span></a>
    </li>
    <li>
    <a href="{% url 'verify_identity' %}"><i data-feather="user-check"></i> <span>Verify Identity</span></a>
    </li>
    <li>
    <a href="{% url 'settings' %}"><i data-feather="settings"></i> <span>Settings</span></a>
    </li>
    </div>
    </div>
    </div>

<div class="page-wrapper">
<div class="content report-box container-fluid">

<div class="page-header subscribe-head border-bottom-0">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Deposits</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active">Deposits</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="subscribe-employe users-list">
<ul>
<li><a href="{% url 'deposit' %}">History </a></li>
<li><a href="{% url 'deposit_pending' %}">Pending</a></li>
<li><a href="{% url 'deposit_hold' %}">On Hold</a></li>
<li class="active"><a href="{% url 'deposit_cancelled' %}">Cancelled</a></li>
<li><a href="{% url 'deposit_completed' %}">Completed</a></li>
</ul>
</div>

<div class="page-header user-active">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Cancelled</h3>
<p>Total <span>57</span> Transaction</p>
</div>
<div class="col-auto">
<a href="#" class="btn export-btn me-1">
<img src="{% static 'asset/img/export.svg' %}" alt> Export
</a>
<a class="btn filter-btn" href="javascript:void(0);" id="filter_search">
<i class="fas fa-filter"></i>
</a>
</div>
</div>
</div>


<div class="card filter-card" id="filter_inputs">
<div class="card-body pb-0">
<form action="#" method="post">
<div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Name</label>
<input class="form-control" type="text">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Email</label>
<input type="email" class="form-control">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Expertise</label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<button class="btn btn-primary btn-block" type="submit">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center table-hover mb-0 datatable">
<thead>
<tr>
<th>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input" id="select-all">
<label class="form-check-label"></label>
</div>
</th>
<th>Order</th>
<th>User</th>
<th>Details</th>
<th>Tnx By</th>
<th>Amount</th>
<th>Status</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input">
<label class="form-check-label"></label>
</div>
</td>
<td>#24586414</td>
<td>
<div class="table-avatar user-profile">
<a href="profile.html"><img class="avatar-img rounded-circle " src="{% static 'asset/img/profiles/avatar-10.jpg' %}" alt="User Image"></a>
<div>
<h5><a href="#">Janet Paden</a></h5>
<p> <a href="https://kofejob.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89eeece6fbeeecfeece5e5fac9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</a></p>
</div>
</div>
</td>
<td>
<div class="table-avatar content-user">
<div>
<h5>Deposit Funds</h5>
<p> Apr 25, 2022</p>
</div>
</div>
</td>
<td class="content-user"><p>PayPal</p></td>
<td>
<div class="table-avatar content-user">
<div>
<h5 class="text-success">+ 6,335.006 USD</h5>
<p> Balance : 6,335.006 USD</p>
</div>
</div>
</td>
<td>
<a href="#" class="text-danger"> Cancelled</a>
</td>
<td class="text-end three-dots">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
<div class="dropdown-menu user-menu-list">
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#transaction-category"><img class="me-2 " src="{% static 'asset/img/icon/icon-01.svg' %}" alt> View Details</a>
<a class="dropdown-item" href="user-profile.html"><img class="me-2 " src="{% static 'asset/img/icon/icon-05.svg' %}" alt> User Profile</a>
<a class="dropdown-item" href="#"><img class="me-2 " src="{% static 'asset/img/icon/icon-06.svg' %}" alt> Approve</a>
<a class="dropdown-item mb-0" href="#"><img class="me-2 " src="{% static 'asset/img/icon/icon-07.svg' %}" alt> Reject </a>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input">
<label class="form-check-label"></label>
</div>
</td>
<td>#14586414</td>
<td>
<div class="table-avatar user-profile">
<a href="profile.html"><img class="avatar-img rounded-circle " src="{% static 'asset/img/profiles/avatar-11.jpg' %}" alt="User Image"></a>
<div>
<h5><a href="profile.html">Floyd Lewis</a></h5>
<p> <a href="https://kofejob.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f494340564b434a58465c6f4a574e425f434a014c4042">[email&#160;protected]</a></p>
</div>
</div>
</td>
<td>
<div class="table-avatar content-user">
<div>
<h5>Deposit Funds</h5>
<p> Jun 22, 2022</p>
</div>
</div>
</td>
<td class="content-user"><p>PayPal</p></td>
<td>
<div class="table-avatar content-user">
<div>
<h5 class="text-success">+ 4,335.006 USD</h5>
<p> Balance : 1,335.006 USD</p>
</div>
</div>
</td>
<td>
<a href="#" class="text-danger"> Cancelled</a>
</td>
<td class="text-end three-dots">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
<div class="dropdown-menu user-menu-list">
<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#transaction-category"><img class="me-2 " src="{% static 'asset/img/icon/icon-01.svg' %}" alt> View Details</a>
<a class="dropdown-item" href="user-profile.html"><img class="me-2 " src="{% static 'asset/img/icon/icon-05.svg' %}" alt> User Profile</a>
<a class="dropdown-item" href="#"><img class="me-2 " src="{% static 'asset/img/icon/icon-06.svg' %}" alt> Approve</a>
<a class="dropdown-item mb-0" href="#"><img class="me-2 " src="{% static 'asset/img/icon/icon-07.svg' %}" alt> Reject </a>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="modal fade transaction-modal" id="transaction-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header flex-wrap">
<div class="transaction-group">
<div class="head-transaction">
<h4>Transaction</h4>
<p> #TNX24586414</p>
</div>
<div class="complete-btn">
<a href class="btn btn-primary">Completed</a>
</div>
</div>
</div>
<div class="modal-body">
<div class="table-avatar user-profile invest-acount">
<a href="profile.html"><img class="exchange case-icon" src="{% static 'asset/img/icon/icon-15.svg' %}" alt>
<div>
<h5>200.00 USDT</h5>
<p class="receive-date">Apr 25, 2022 11:01 AM</p>
</div>
</a>
</div>
<div class="acount-transaction">
<div class="row">
<div class="col-md-6">
<div class="basic-info ">
<h4>IN ACCOUNT</h4>
<div class="additional-info">
<p> Amount </p>
<h5>6,335.006 USD</h5>
</div>
<div class="additional-info">
<p>Fees </p>
<h5>0.00 USD</h5>
</div>
<div class="additional-info">
<p> Freelancer Investment </p>
<h5>6,335.006 USD</h5>
</div>
<div class="additional-info">
<p> Freelancer Account </p>
<h5>UID00003</h5>
</div>
<div class="additional-info">
<p> Freelancer Email </p>
<h5><a href="https://kofejob.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea9d838686838b87aa8f928b879a868fc4898587">[email&#160;protected]</a></h5>
</div>
</div>
</div>
<div class="col-md-6">
<div class="basic-info">
<h4>IN TRANSACTION</h4>
<div class="additional-info">
<p> Amount </p>
<h5>6,335.006 USD</h5>
</div>
<div class="additional-info">
<p>Fees </p>
<h5>0.00 USD</h5>
</div>
<div class="additional-info">
<p> Total Investment </p>
<h5>6,335.006 USD</h5>
</div>
<div class="additional-info">
<p> Freelancer Account </p>
<h5>UID00003</h5>
</div>
<div class="additional-info">
<p> Freelancer Email </p>
<h5><a href="https://kofejob.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d1a040101040c002d08150c001d0108430e0200">[email&#160;protected]</a></h5>
</div>
</div>
</div>
<div class="col-md-12">
<div class="basic-info additional-detail top-border">
<h4>Order Details</h4>
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="additional-info">
<p>Order Date</p>
<h5>Mar 13, 2022</h5>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="additional-info">
<p> Placed By</p>
<h5>UID00001 </h5>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<div class="basic-info additional-detail">
<h4 class="mt-0">Additional Details</h4>
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="additional-info">
<p>Transaction Type</p>
<h5>Deposit</h5>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="additional-info">
<p> Payment Gateway</p>
<h5>Paypal </h5>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="additional-info">
<p>Payment To</p>
<h5> usdttest87i2UK3JUWzR7iy6z5eRrxbAeT</h5>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<div class="basic-info additional-detail">
<div class="row">
<div class="col-lg-12">
<div class="additional-info">
<p>Updated Balance</p>
<h5 class="active-balance">13,144.626 USD</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade custom-modal" id="add-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header flex-wrap">
<div class="text-center w-100 mb-3">
<img src="{% static 'asset/img/logo-small.png" alt>
</div>
<h4 class="modal-title">Add New User</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label>Full Name</label>
<input type="text" class="form-control">
</div>
<div class="form-group">
<label>Email</label>
<input type="email" class="form-control">
</div>
<div class="form-group">
<label>Password</label>
<input type="password" class="form-control">
</div>
<div class="form-group">
<label>Confirm Password</label>
<input type="password" class="form-control">
</div>
<div class="form-group">
<label>User Type</label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>


<div class="modal fade custom-modal" id="edit-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header flex-wrap">
<div class="text-center w-100 mb-3">
<img src="{% static 'asset/img/logo-small.png" alt>
</div>
<h4 class="modal-title">Edit User</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label>Full Name</label>
<input type="text" class="form-control" value=" George Wells">
</div>
<div class="form-group">
<label>Email</label>
<input type="email" class="form-control" value="georgewells@example.com">
</div>
<div class="form-group">
<label>Password</label>
<input type="password" class="form-control" value="*******">
</div>
<div class="form-group">
<label>Confirm Password</label>
<input type="password" class="form-control" value="********">
</div>
<div class="form-group">
<label>User Type</label>
<select class="form-control form-select">
<option>Select</option>
<option selected>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>


<div class="modal custom-modal fade" id="delete_category" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-header">
<h3>Delete</h3>
<p>Are you sure want to delete?</p>
</div>
<div class="modal-btn delete-action">
<div class="row">
<div class="col-6">
<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
</div>
<div class="col-6">
<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'admin_scripts.html' %}
</body>

<!-- Mirrored from kofejob.dreamguystech.com/template/admin/deposit-cancelled.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:32:45 GMT -->
</html>