{% load static %}

<!DOCTYPE html>
<html lang="en">


{% include 'admin_head.html' %}
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="{% static 'assets/img/logo.png' %}" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
</a>

<a href="javascript:void(0);" id="toggle_btn">
<i class="feather-chevrons-left"></i>
</a>


<a class="mobile_btn" id="mobile_btn">
<i class="feather-chevrons-left"></i>
</a>

</div>


<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Start typing your Search...">
<button class="btn" type="submit"><i class="feather-search"></i></button>
</form>
</div>


<ul class="nav user-menu">

<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i class="feather-bell"></i> <span class="badge badge-pill">5</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">New user registered</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'assets/img/profiles/avatar-04.jpg' %}">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">You have received a new message</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{% static 'assets/img/profiles/avatar-07.jpg' %}' %}" alt>
<span class="status online"></span>
</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i> Profile</a>
<a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i> Settings</a>
<a class="dropdown-item" href="login.html"><i data-feather="log-out" class="me-1"></i> Logout</a>
</div>
</li>

</ul>

</div>

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
    <ul>
    <li class="menu-title"><span>Main</span></li>
    <li>
    <a href="{% url 'admin_dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
    </li>
    <li>
    <a href="{% url 'categories' %}"><i data-feather="copy"></i> <span>Categories</span></a>
    </li>
    <li>
    <a href="{% url 'projects' %}"><i data-feather="database"></i> <span>Projects</span></a>
    </li>
    <li>
    <a href="{% url 'users' %}"><i data-feather="users"></i> <span>Freelancer</span></a>
    </li>
    <li>
    <a href="{% url 'deposit' %}"><i data-feather="user-check"></i> <span>Deposit</span></a>
    </li>
    <li>
    <a href="{% url 'withdrawn' %}"><i data-feather="user-check"></i> <span>Withdrawn</span></a>
    </li>
    <li>
    <a href="{% url 'transaction' %}"><i data-feather="clipboard"></i> <span>Transaction</span></a>
    </li>
    <li>
    <a href="{% url 'providers' %}"><i data-feather="user-check"></i> <span>Providers</span></a>
    </li>
    <li>
    <a href="{% url 'subscription' %}"><i data-feather="user-check"></i> <span>Subscription</span></a>
    </li>
    <li class="active">
    <a href="{% url 'reports' %}"><i data-feather="pie-chart"></i> <span>Reports</span></a>
    </li>
    <li>
    <a href="{% url 'roles' %}"><i data-feather="clipboard"></i> <span>Roles</span></a>
    </li>
    <li>
    <a href="{% url 'skills' %}"><i data-feather="award"></i> <span>Skills</span></a>
    </li>
    <li>
    <a href="{% url 'verify_identity' %}"><i data-feather="user-check"></i> <span>Verify Identity</span></a>
    </li>
    <li>
    <a href="{% url 'settings' %}"><i data-feather="settings"></i> <span>Settings</span></a>
    </li>
    </div>
    </div>
    </div>

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Roles & Permission</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active">Roles</li>
</ul>
</div>
<div class="col-auto">
<a href="#" class="btn add-button me-1" data-bs-toggle="modal" data-bs-target="#add-category">
<i class="fas fa-plus"></i>
</a>
<a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
<i class="fas fa-filter"></i>
</a>
</div>
</div>
</div>


<div class="card filter-card" id="filter_inputs">
<div class="card-body pb-0">
<form action="#" method="post">
<div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Roles</label>
<input class="form-control" type="text">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>From Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>To Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<button class="btn btn-primary btn-block" type="submit">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center table-hover mb-0 datatable">
<thead>
<tr>
<th>Role Name</th>
<th class="text-end">Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td>
Admin
</td>
<td class="text-end">
<a href="{% url 'roles_permission' %}" class="btn btn-sm bg-pink me-2"><i class="fas fa-user-shield"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
<tr>
<td>
Client
</td>
<td class="text-end">
<a href="{% url 'roles_permission' %}" class="btn btn-sm bg-pink me-2"><i class="fas fa-user-shield"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
<tr>
<td>
Staff
</td>
<td class="text-end">
<a href="{% url 'roles_permission' %}" class="btn btn-sm bg-pink me-2"><i class="fas fa-user-shield"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>


<div class="modal fade custom-modal" id="add-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

<div class="modal-header">
<h4 class="modal-title">Add Roles</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>


<div class="modal-body">
<form>
<div class="form-group">
<label>Role Name</label>
<input type="text" class="form-control" placeholder="Enter Role Name">
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>

</div>
</div>
</div>


<div class="modal fade custom-modal" id="edit-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

<div class="modal-header">
<h4 class="modal-title">Edit Roles</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>


<div class="modal-body">
<form>
<div class="form-group">
<label>Role Name</label>
<input type="text" class="form-control" value="Admin">
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>

</div>
</div>
</div>


<div class="modal custom-modal fade" id="delete_category" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-header">
<h3>Delete</h3>
<p>Are you sure want to delete?</p>
</div>
<div class="modal-btn delete-action">
<div class="row">
<div class="col-6">
<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
</div>
<div class="col-6">
<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'admin_scripts.html' %}
</body>

<!-- Mirrored from kofejob.dreamguystech.com/template/admin/roles.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:32:32 GMT -->
</html>