{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'admin_head.html' %}
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="{% static 'asset/img/logo.png' %}" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="{% static 'asset/img/logo-small.png' %}" alt="Logo" width="30" height="30">
</a>

<a href="javascript:void(0);" id="toggle_btn">
<i class="feather-chevrons-left"></i>
</a>


<a class="mobile_btn" id="mobile_btn">
<i class="feather-chevrons-left"></i>
</a>

</div>


<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Start typing your Search...">
<button class="btn" type="submit"><i class="feather-search"></i></button>
</form>
</div>


<ul class="nav user-menu">

<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i class="feather-bell"></i> <span class="badge badge-pill">5</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-02.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-03.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">New user registered</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt src="{% static 'asset/img/profiles/avatar-04.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<div class="avatar avatar-sm flex-shrink-0">
<span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
</div>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">You have received a new message</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{% static 'asset/img/profiles/avatar-07.jpg" alt>
<span class="status online"></span>
</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i> Profile</a>
<a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i> Settings</a>
<a class="dropdown-item" href="login.html"><i data-feather="log-out" class="me-1"></i> Logout</a>
</div>
</li>

</ul>

</div>


<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
    <ul>
    <li class="menu-title"><span>Main</span></li>
    <li>
    <a href="{% url 'admin_dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
    </li>
    <li>
    <a href="{% url 'categories' %}"><i data-feather="copy"></i> <span>Categories</span></a>
    </li>
    <li>
    <a href="{% url 'projects' %}"><i data-feather="database"></i> <span>Projects</span></a>
    </li>
    <li>
    <a href="{% url 'users' %}"><i data-feather="users"></i> <span>Freelancer</span></a>
    </li>
    <li>
    <a href="{% url 'deposit' %}"><i data-feather="user-check"></i> <span>Deposit</span></a>
    </li>
    <li>
    <a href="{% url 'withdrawn' %}"><i data-feather="user-check"></i> <span>Withdrawn</span></a>
    </li>
    <li class="active">
    <a href="{% url 'subscription' %}"><i data-feather="user-check"></i> <span>Subscription</span></a>
    </li>
    <li>
    <a href="{% url 'reports' %}"><i data-feather="pie-chart"></i> <span>Reports</span></a>
    </li>
    <li>
    <a href="{% url 'settings' %}"><i data-feather="settings"></i> <span>Settings</span></a>
    </li>
    </div>
    </div>
    </div>


<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header subscribe-head">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Subscriber List</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active">Subscriber List</li>
</ul>
</div>
<div class="col-auto">
<a href="view-price-employe.html" class="btn add-button me-2">
View Pricing
</a>
<a class="btn filter-btn" href="#" data-bs-toggle="modal" data-bs-target="#add-plan-freelance">
New Subscription
</a>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="subscribe-employe">
<ul>
<li><a href="{% url 'subscription' %}">Employer </a></li>
<li class="active"><a href="{% url 'subscripe_freelancer' %}">Freelancer</a></li>
</ul>
</div>
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center table-hover mb-0 datatable">
<thead>
<tr>
<th>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input" id="select-all">
<label class="form-check-label" for="customCheck1"></label>
</div>
</th>
<th>Name</th>
<th>Plan Name</th>
<th>Plan Type</th>
<th>Payment Method</th>
<th>Create Date</th>
<th>End Date</th>
<th>Status</th>
<th class="text-end">Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input" id="customCheck1">
<label class="form-check-label" for="customCheck1"></label>
</div>
</td>
<td><a href="#">Mark</a></td>
<td><a href="#">Professional</a></td>
<td>Monthly</td>
<td>Credit card</td>
<td>25/03/20022</td>
<td>25/03/20022</td>
<td>
<button class="btn active-btn">Active</button>
</td>
<td class="text-end subscription-end">
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
<tr>
<td>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input" id="customCheck1">
<label class="form-check-label" for="customCheck1"></label>
</div>
</td>
<td><a href="#">Steawart</a></td>
<td><a href="#">Enterprise</a></td>
<td>Yearly</td>
<td>Paypal</td>
<td>28-02-2022</td>
<td>28-02-2022</td>
<td>
<button class="btn active-btn">Active</button>
</td>
<td class="text-end subscription-end">
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
<tr>
<td>
<div class="form-check custom-checkbox">
<input type="checkbox" class="form-check-input" id="customCheck1">
<label class="form-check-label" for="customCheck1"></label>
</div>
</td>
<td><a href="#">Hendry</a></td>
<td><a href="#">Basic</a></td>
<td>Monthly</td>
<td>Paypal</td>
<td>28-02-2022</td>
<td>28-02-2022</td>
<td>
<button class="btn inactive-btn">Inactive</button>
</td>
<td class="text-end subscription-end">
<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a>
<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="modal fade custom-modal" id="add-plan-freelance">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header flex-wrap add-plan-head">
<h4 class="modal-title">Add Plan</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body add-plan">
<form>
<div class="row">
<div class="col-lg-6">
<div class="form-group">
<label>Plan Name <span>*</span></label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>Plan Type <span>*</span></label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Plan Amount <span>*</span></label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>Bidding Credits <span>*</span></label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>No of Projects <span>*</span></label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>Bidding visibility <span>*</span></label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>Featured Service <span>*</span></label>
<select class="form-control form-select">
<option>Select</option>
<option>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Plan Description <span>*</span></label>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Status <span>*</span></label>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_1" class="check" checked>
<label for="status_1" class="checktoggle"></label>
</div>
</div>
</div>
</div>
<div class="plan-btn text-center">
<button type="submit" class="btn btn-primary remove-form">Close</button>
<button type="submit" class="btn btn-primary save-form">Save Plan</button>
</div>
</form>
</div>
</div>
</div>
</div>


<div class="modal fade custom-modal" id="edit-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header flex-wrap">
<div class="text-center w-100 mb-3">
<img src="{% static 'asset/img/logo-small.png' %}" alt>
</div>
<h4 class="modal-title">Edit User</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label>Full Name</label>
<input type="text" class="form-control" value=" George Wells">
</div>
<div class="form-group">
<label>Email</label>
<input type="email" class="form-control" value="georgewells@example.com">
</div>
<div class="form-group">
<label>Password</label>
<input type="password" class="form-control" value="*******">
</div>
<div class="form-group">
<label>Confirm Password</label>
<input type="password" class="form-control" value="********">
</div>
<div class="form-group">
<label>User Type</label>
<select class="form-control form-select">
<option>Select</option>
<option selected>Frontend Developer</option>
<option>Graphic Designer</option>
</select>
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>


<div class="modal custom-modal fade" id="delete_category" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-header">
<h3>Delete</h3>
<p>Are you sure want to delete?</p>
</div>
<div class="modal-btn delete-action">
<div class="row">
<div class="col-6">
<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
</div>
<div class="col-6">
<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'admin_scripts.html' %}
</body>

<!-- Mirrored from kofejob.dreamguystech.com/template/admin/subscripe-freelancer.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:32:48 GMT -->
</html>