{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="dashboard-page">

    <div class="main-wrapper">
        {% include 'employer_header.html' with employer=request.user %}

<div class="bread-crumb-bar">
<div class="container">
<div class="row align-items-center inner-banner">
<div class="col-md-12 col-12 text-center">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><img src="{% static 'assets/img/home-icon.svg" alt> Home</a></li>
<li class="breadcrumb-item" aria-current="page">Employers</li>
<li class="breadcrumb-item active" aria-current="page">COMPANY PROFILE</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<section class="profile-baner">
<div class="container">
<div class="row">
<div class="col-auto">
<div class="profile-img">
<img src="{% static 'assets/img/profile.jpg' %}" alt>
</div>
</div>
<div class="col">
<div class="profile-main">
<h2>Amaze Tech PVT LTD. <i class="fas fa-check-circle"></i></h2>
<p>Since July 2017</p>
<div class="about-list">
<ul>
<li><img src="{% static 'assets/img/en.png' %}" alt="Lang"> UK</li>
<li><i class="fas fa-map-marker-alt"></i> Alabama, USA</li>
<li><i class="far fa-clock"></i> Poster 1 hour ago</li>
</ul>
</div>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star "></i>
<i class="fas fa-star"></i>
<span class="average-rating">4.6 (25)</span>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="content">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12">
<div class="pro-view">

<nav class="provider-tabs mb-4 abouts-view">
<ul class="nav nav-tabs nav-tabs-solid nav-justified">
<li class="nav-item">
<a class="nav-link " href="{% url 'company_profile' employer_id=employer.id %}">
<img src="{% static 'assets/img/icon/tab-icon-13.png' %}" alt="User Image">
<p class="bg-red">About Us</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'company_project' employer_id=employer.id %}">
<img src="{% static 'assets/img/icon/tab-icon-09.png' %}" alt="User Image">
<p>Projects</p>
</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="{% url 'company_gallery' employer_id=employer.id %}">
<img src="{% static 'assets/img/icon/tab-icon-14.png' %}" alt="User Image">
<p>Gallery</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link  active-about" href="{% url 'company_review' employer_id=employer.id %}">
<img src="{% static 'assets/img/icon/tab-icon-11.png' %}" alt="User Image">
<p>Reviews</p>
</a>
</li></ul>
</nav>

<div class="pro-post widget-box company-post">
<h3 class="pro-title">Reviews</h3>
<div class="reviews company-review">
  {% for review in reviews %}
<div class="review-content no-padding">
  <h4>HEllo</h4>
<p class="mb-0">{{ review.message }}</p>
<div class="review-top tab-reviews d-flex align-items-center">
<div class="review-img">
<a href="company-profile.html"><img class="img-fluid" src="{% static 'assets/img/review/review-01.jpg' %}" alt="Post Image"></a>
</div>
<div class="review-info">
<h3><a href="{% url 'company_profile' %}">javiervalino</a></h3>
<h5>{{ review.timestamp|date:"F d, Y" }}</h5>
</div>
{% for i in review.rating|stringformat:"s" %}
  {% if forloop.counter <= review.rating %}
<div class="rating">
  Rating:&nbsp;<i class="fa fa-star checked"></i> {{ review.rating }} / 5
  {% else %}
    <i class="fa fa-star"></i>
  {% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>


<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar company-profile">

<div class="pro-post widget-box about-widget profile-overview">
<div class="profile-head">
<h4 class="pro-title mb-0">Profile Overview</h4>
</div>
<ul class="latest-posts pro-content">
<li><p>Company Name</p><h6>{{ employer.company_name }}</h6></li>
<li><p>Company Established</p><h6>{{ employer.established_date }}</h6></li>
<li><p>No of Employees</p><h6>{{ employer.team_size_min }} - {{ employer.team_size_max }}</h6></li>
<li><p>Owner Name</p><h6>{{ employer.owner_name }}</h6></li>
<li><p>Website</p><h6>{{ employer.website }}</h6></li>
<li><p>Email</p><h6>{{ request.user.email }}</h6></li>
</ul>
<div class="contact-btn">
<a href="tel:{{ employer.phone_number }}" class="btn btn-primary"><i class="fas fa-phone-alt"></i> Contact</a>
</div>
</div>



<div class="pro-post widget-box  working-days">
<div class="profile-head">
<h4 class="pro-title mb-0">Working Days</h4>
</div>
<ul class="latest-posts pro-content">
<li><p>Monday</p><h6>9AM - 5PM</h6></li>
<li><p>Tuesday </p><h6>9AM - 5PM</h6></li>
<li><p>Wednesday </p><h6>9AM - 5PM</h6></li>
<li><p>Thursday </p><h6>9AM - 5PM</h6></li>
<li><p>Friday </p><h6>9AM - 5PM</h6></li>
<li><p>Saturday </p><h6>9AM - 5PM</h6></li>
<li><p>Sunday </p><h6><span>Close</span></h6></li>
</ul>
</div>


<div class="pro-post widget-box social-widget">
<div class="profile-head">
<h4 class="pro-title">SOCIAL LINKS</h4>
</div>
<ul class="social-link-profile">
<li><a href="#"><i class="fab fa-facebook"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
<li><a href="#"><i class="fab fa-telegram"></i></a></li>
</ul>
</div>

</div>

</div>
</div>
</div>


<footer class="footer">
<div class="footer-top">
<div class="container">
<div class="row">
<div class="col-xl-3 col-md-6">
<div class="footer-widget footer-menu">
<h2 class="footer-title">Useful Links</h2>
<ul>
<li><a href="about.html"><i class="fas fa-angle-right me-1"></i>About Us</a></li>
<li><a href="blog-list.html"><i class="fas fa-angle-right me-1"></i>Blog</a></li>
<li><a href="login.html"><i class="fas fa-angle-right me-1"></i>Login</a></li>
<li><a href="register.html"><i class="fas fa-angle-right me-1"></i>Register</a></li>
<li><a href="forgot-password.html"><i class="fas fa-angle-right me-1"></i>Forgot Password</a></li>
</ul>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="footer-widget footer-menu">
<h2 class="footer-title">Help & Support</h2>
<ul>
<li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Browse Candidates</a></li>
<li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Employers Dashboard</a></li>
<li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Job Packages</a></li>
<li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Jobs Featured</a></li>
<li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Post A Job</a></li>
</ul>
</div>
</div>
<div class="col-xl-2 col-md-6">
<div class="footer-widget footer-menu">
<h2 class="footer-title">Other Links</h2>
<ul>
<li><a href="freelancer-dashboard.html"><i class="fas fa-angle-right me-1"></i>Freelancers</a></li>
<li><a href="freelancer-portfolio.html"><i class="fas fa-angle-right me-1"></i>Freelancer Details</a></li>
<li><a href="project.html"><i class="fas fa-angle-right me-1"></i>Project</a></li>
<li><a href="project-details.html"><i class="fas fa-angle-right me-1"></i>Project Details</a></li>
<li><a href="post-project.html"><i class="fas fa-angle-right me-1"></i>Post Project</a></li>
</ul>
</div>
</div>
<div class="col-xl-4 col-md-6">
<div class="footer-widget footer-menu">
<h2 class="footer-title">Join our Newsletter</h2>
<p>We help our customers harness the power of AI to make smarter decisions</p>
<div class="banner-content">
<form class="form" name="store" method="post" action="https://kofejob.dreamguystech.com/template/project.html">
<div class="form-inner">
<div class="input-group">
<input type="email" class="form-control" placeholder="Your Email address.....">
<button class="btn btn-primary sub-btn" type="submit"><i class="fas fa-long-arrow-alt-right long-arrow"></i></button>
</div>
</div>
</form>
</div>
<div class="social-icon d-flex">
<span>Follow us on : </span>
<ul>
<li><a href="#" class="icon" target="_blank"><i class="fab fa-facebook-f"></i> </a></li>
<li><a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
<li><a href="#" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="footer-bottom">
<div class="container">

<div class="copyright">
<div class="row">
<div class="col-md-6 col-lg-6 ">
<div class="footer-bottom-logo">
<a href="{% url 'dashboard' %}" class="menu-logo">
<img src="{% static 'assets/img/logo.png" class="img-fluid" alt="Logo">
</a>
</div>
</div>
<div class="col-md-6 col-lg-6 right-text">
<ul class="nav footer-bottom-nav">
<li><a href="chats.html">Chat</a></li>
<li><a href="faq.html">Faq</a></li>
<li><a href="review.html">Reviews</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
<li><a href="term-condition.html">Terms of use</a></li>
</ul>
<div class="copyright-text">
<p class="mb-0">Copyright 2023 © KofeJob. All right reserved. Powered by Dreamguys Technologies</p>
</div>
</div>
</div>
</div>

</div>
</div>

</footer>

</div>


<div class="modal fade custom-modal" id="hire">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content bg-modal">
<div class="modal-header">
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<div class="text-center pt-0 mb-4">
<img src="{% static 'assets/img/logo-01.png' %}" alt="logo" class="img-fluid mb-1">
<h5 class="modal-title">Discuss your project with David</h5>
</div>
<form action="https://kofejob.dreamguystech.com/template/dashboard.html">
<div class="modal-info">
<div class="row">
<div class="col-12 col-md-12">
<div class="form-group">
<input type="text" name="name" class="form-control" placeholder="First name & Lastname">
</div>
<div class="form-group">
<input type="email" name="name" class="form-control" placeholder="Email Address">
</div>
<div class="form-group">
<input type="text" name="name" class="form-control" placeholder="Phone Number">
</div>
<div class="form-group">
<textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
</div>
<div class="form-group row">
<div class="col-12 col-md-4 pr-0">
<label class="file-upload">
Add Attachment <input type="file" />
</label>
</div>
<div class="col-12 col-md-8">
<p class="mb-1">Allowed file types: zip, pdf, png, jpg' %}</p>
<p>Max file size: 50 MB</p>
</div>
</div>
</div>
</div>
</div>
<div class="submit-section text-center">
<button type="submit" class="btn btn-primary btn-block submit-btn">Hire Now</button>
</div>
</form>
</div>
</div>
</div>
</div>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/js/jquery-3.6.1.min.js"></script>
{% include 'scripts.html' %}
</body>

<!-- Mirrored from kofejob.dreamguystech.com/template/company-review.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:31:04 GMT -->
</html>