{% load static %}


<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Useful Links</h2>
                        <ul>
                            <li><a href="{% url 'about' %}"><i class="fas fa-angle-right me-1"></i>About Us</a></li>
                            <li><a href="{% url 'blog_grid' %}"><i class="fas fa-angle-right me-1"></i>Blog</a></li>
                            <li><a href="{% url 'login' %}"><i class="fas fa-angle-right me-1"></i>Login</a></li>
                            <li><a href="{% url 'onboard_screen' %}"><i class="fas fa-angle-right me-1"></i>Register</a></li>
                            <li><a href="{% url 'forgot_password' %}"><i class="fas fa-angle-right me-1"></i>Forgot Password</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Help & Support</h2>
                        <ul>
                            <li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Browse
                                    Candidates</a></li>
                            <li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Employers
                                    Dashboard</a></li>
                            <li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Job Packages</a>
                            </li>
                            <li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Jobs Featured</a>
                            </li>
                            <li><a href="javascript:;"><i class="fas fa-angle-right me-1"></i>Post A Job</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Other Links</h2>
                        <ul>
                            <li><a href="{% url 'project' %}"><i class="fas fa-angle-right me-1"></i>Project</a></li>

                            <li><a href="{% url 'post_project' %}"><i class="fas fa-angle-right me-1"></i>Post Project</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Diving In To New Era Of Job Search</h2>
                        <p>We help our customers harness the power to make smarter decisions</p>
                        <div class="banner-content">
                        </div><br>
                        <div class="social-icon d-flex">
                            <span>Follow us on : </span>
                            <ul>
                                <li><a href="{{ links.facebook }}" class="icon" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{ links.instagram }}" class="icon" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="{{ links.twitter }}" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6 ">
                        <div class="footer-bottom-logo">
                            <a href="{% url 'dashboard' %}" class="menu-logo">
                                <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 right-text">
                        <ul class="nav footer-bottom-nav">
                            <li><a href="chats.html">Chat</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="review.html">Reviews</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="term-condition.html">Terms of use</a></li>
                        </ul>
                        <div class="copyright-text">
                            <p class="mb-0">Copyright 2023 © KofeJob. All right reserved. Powered by Dreamguys
                                Technologies</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>