<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="dashboard-page">

    <div class="main-wrapper">
        {% include 'freelance_header.html' with freelancer=request.user %}


<div class="content">
<div class="container-fluid">
<div class="row">
    {% include 'dashboard_free_navbar_link.html' with freelancer=request.user %}
<div class="col-xl-9 col-md-8">
<div class="page-title">
<h3>Manage Projects</h3>
</div>
<nav class="user-tabs mb-4">
<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
<li class="nav-item">
<a class="nav-link" href="freelancer-view-project-detail.html">Overview & Discussions</a>
</li>
<li class="nav-item">
<a class="nav-link" href="freelancer-milestones.html">Milestones</a>
</li>
<li class="nav-item">
<a class="nav-link" href="freelancer-task.html">Tasks</a>
</li>
<li class="nav-item">
<a class="nav-link" href="freelancer-files.html">Files</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="freelancer-payment.html">Payments</a>
</li>
</ul>
</nav>

<div class="my-projects-view">
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="project-table">
<div class="card-body">
<h4>PAYMENTS PAID FOR THIS PROJECT</h4>
<div class="table-responsive table-box">
<table class="table table-center table-hover datatable">
<thead class="thead-pink">
<tr>
<th>Client </th>
<th>Name </th>
<th>Type of Payment</th>
<th>Payment</th>
<th>Status </th>
<th>Date Paid</th>
<th>Invoice</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="d-flex align-items-center"><span><img src="assets/img/company/img-1.png" class="img-fluid avatar-md rounded-circle me-2" alt="Logo"></span> <span>Amaze Tech</span></div></td>
<td>Research</td>
<td><span class="badge badge-pill bg-outline-red">Milestone</span></td>
<td>$54</td>
<td><span class="badge badge-pill bg-outline-green">Completed</span></td>
<td> 20th October 2018</td>
<td><a href="#" class="file-circle"><i class="far fa-copy"></i></a>
</td>
</tr>
<tr>
<td>
<div class="d-flex align-items-center"><span><img src="assets/img/company/img-2.png" class="img-fluid avatar-md rounded-circle me-2" alt="Logo"></span> <span>Park Inc</span></div></td>
<td>Design</td>
<td><span class="badge badge-pill bg-outline-red">Milestone</span></td>
<td>$52</td>
<td><span class="badge badge-pill bg-outline-green">Completed</span></td>
<td> 25th October 2018</td>
<td><a href="#" class="file-circle"><i class="far fa-copy"></i></a>
</td>
</tr>
<tr>
<td>
<div class="d-flex align-items-center"><span><img src="assets/img/company/img-3.png" class="img-fluid avatar-md rounded-circle me-2" alt="Logo"></span> <span>Tech Zone</span></div></td>
<td>Development</td>
<td><span class="badge badge-pill bg-outline-red">Milestone</span></td>
<td>$40</td>
<td><span class="badge badge-pill bg-outline-green">Completed</span></td>
<td> 28th October 2018</td>
<td><a href="#" class="file-circle"><i class="far fa-copy"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

{% include 'footer.html' %}

</div>

{% include 'scripts.html' %}
</body>

<!-- Mirrored from kofejob.dreamguystech.com/template/freelancer-payment.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2023 20:31:09 GMT -->
</html>