{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="dashboard-page">

    <div class="main-wrapper">
      {% include 'employer_header.html' with employer=request.user %}

<div class="bread-crumb-bar">
<div class="container">
<div class="row align-items-center inner-banner">
<div class="col-md-12 col-12 text-center">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'index' %}"><img src="{% static 'assets/img/home-icon.svg' %}" alt="Post Author"> Home</a></li>
<li class="breadcrumb-item" aria-current="page">Employee</li>
<li class="breadcrumb-item" aria-current="page">Reviews</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<div class="content content-page">
<div class="container-fluid">
<div class="row">

    {% include 'dashboard_navbar_link.html' with employer=request.user %}

    <div class="settings-menu">
      <ul>
      <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link">
      <i class="material-icons">verified_user</i> Dashboard
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'manage_projects' %}" class="nav-link">
      <i class="material-icons">business_center</i> Projects
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'review' %}" class="nav-link active">
      <i class="material-icons">record_voice_over</i> Reviews
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'chats' %}" class="nav-link">
      <i class="material-icons">chat</i> Messages
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'verify_identity' %}" class="nav-link">
      <i class="material-icons">person_pin</i> Verify Identity
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'deposit_funds' %}" class="nav-link">
      <i class="material-icons">wifi_tethering</i> Payments
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'profile_settings' %}" class="nav-link">
      <i class="material-icons">settings</i> Settings
      </a>
      </li>
      <li class="nav-item">
      <a href="{% url 'index' %}" class="nav-link">
      <i class="material-icons">power_settings_new</i> Logout
      </a>
      </li>
      </ul>
      </div>
      </div>
      </div>

<div class="col-xl-9 col-md-8">
<div class="card ">
<div class="card-header review-heading">
<h3 class="pro-title without-border">Reviews</h3></div>
<div class="card-body">

  {% for review in reviews %}
<div class="reviews company-review">
<div class="review-content no-padding">
<p class="mb-0">{{ review.message }}</p>
<div class="review-top tab-reviews d-flex align-items-center">
<div class="review-img">
<a href="{% url 'developer_details' %}"><img class="img-fluid" src="{% static 'assets/img/review/review-03.jpg' %}" alt="Post Image"></a>
</div>
<div class="review-info">
<h3><a href="{% url 'developer_details' %}">James</a></h3>
<h5>{{ review.timestamp|date:"F d, Y" }}</h5>
</div>
{% for i in review.rating|stringformat:"s" %}
  {% if forloop.counter <= review.rating %}
<div class="rating">
  Rating:&nbsp;<i class="fa fa-star checked"></i> {{ review.rating }} / 5
  {% else %}
    <i class="fa fa-star"></i>
  {% endif %}
{% endfor %}
<style>
  .fa-star.checked {
    color: gold;
    font-size: 16px; 
  }
</style>
<button class="btn-delete" style="float: right; color: rgb(254, 254, 255); margin-left: 37rem; background-color: brown; border-radius: 5px;">Delete</button>
</div>
</div>
</div>

{% endfor %}
<div class="col-md-12 text-center">
    <a href="#" class="btn more-btn" id="load-button">
      <img src="{% static 'assets/img/loader-icon.svg' %}" id="loader" height="24" alt="User Image">Load More
    </a>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% include 'footer.html' %}
</div>


<div class="modal fade custom-modal" id="review">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<div class="text-center pt-0 mb-4">
<h5 class="modal-title">Leave a Review</h5>
<p class="modal-subtitle">Rate <span class="orange-text">Peter Valentín</span> for the project <span class="orange-text">Adsense Expert</span></p>
</div>
<form>
<div class="modal-info">
<div class="row form-row">
<div class="col-12 col-md-12">
<div class="form-group">
<p class="mb-2">Was this delivered on budget?</p>
<label class="custom_radio">
<input type="radio" name="budget" value="Yes" checked>
<span class="checkmark"></span> Yes
</label>
<label class="custom_radio">
<input type="radio" name="budget" value="No">
<span class="checkmark"></span> No
</label>
</div>
<div class="form-group">
<p class="mb-2">Was this delivered on time?</p>
<label class="custom_radio">
<input type="radio" name="time" value="Yes" checked>
<span class="checkmark"></span> Yes
</label>
<label class="custom_radio">
<input type="radio" name="time" value="No">
<span class="checkmark"></span> No
</label>
</div>
<div class="form-group">
<p class="mb-2">Your Rating</p>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
</div>
</div>
<div class="form-group">
<textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
</div>
</div>
</div>
</div>
<div class="submit-section text-center">
<button type="submit" class="btn btn-primary btn-block submit-btn">Leave a Review</button>
</div>
</form>
</div>
</div>
</div>
</div>

<div class="modal fade custom-modal" id="editreview">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<div class="text-center pt-0 mb-4">
<h5 class="modal-title">Leave a Review</h5>
<p class="modal-subtitle">Rate <span class="orange-text">Peter Valentín</span> for the project <span class="orange-text">Adsense Expert</span></p>
</div>
<form>
<div class="modal-info">
<div class="row form-row">
<div class="col-12 col-md-12">
<div class="form-group">
<p class="mb-2">Was this delivered on budget?</p>
<label class="custom_radio">
<input type="radio" name="budget" value="Yes" checked>
<span class="checkmark"></span> Yes
</label>
<label class="custom_radio">
<input type="radio" name="budget" value="No">
<span class="checkmark"></span> No
</label>
</div>
<div class="form-group">
<p class="mb-2">Was this delivered on time?</p>
<label class="custom_radio">
<input type="radio" name="time" value="Yes" checked>
<span class="checkmark"></span> Yes
</label>
<label class="custom_radio">
<input type="radio" name="time" value="No">
<span class="checkmark"></span> No
</label>
</div>
<div class="form-group">
<p class="mb-2">Your Rating</p>
<div class="rating">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
</div>
</div>
<div class="form-group">
<textarea class="form-control" name="message" rows="5" placeholder="Message">Great clarity in specification and communication. I got payment really fast. Really recommend this employer for his professionalism. I will work for him again with pleasure.</textarea>
</div>
</div>
</div>
</div>
<div class="submit-section text-center">
<button type="submit" class="btn btn-primary btn-block submit-btn">Leave a Review</button>
</div>
</form>
</div>
</div>
</div>
</div>

{% include 'scripts.html' %}
<script> function deleteReview(btn) 
{   const review = btn.parentElement; 
    review.remove(); } 
</script>

</body>
</html>