
{% load static %}

<script src="{% static 'assets/js/jquery-3.6.1.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>

<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'assets/js/slick.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>

<script src="{% static 'assets/js/jquery-3.6.1.min.js' %}"></script>

<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>

<script src="{% static 'assets/js/range.js' %}"></script>

<script src="{% static 'assets/js/profile-settings.js' %}"></script>

<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'assets/js/moment.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'assets/js/profile-settings.js' %}"></script>

<script src="{% static 'assets/plugins/summernote/dist/summernote-lite.min.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>

<script src="{% static 'assets/js/circle-progress.min.js' %}"></script>

<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
