{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="dashboard-page">

    <div class="main-wrapper">
        {% include 'employer_header.html' with employer=request.user %}

<div class="bread-crumb-bar">
<div class="container">
<div class="row align-items-center inner-banner">
<div class="col-md-12 col-12 text-center">
<div class="breadcrumb-list">
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><img src="{% static 'assets/img/home-icon.svg' %}" alt="Post Author"> Home</a></li>
<li class="breadcrumb-item" aria-current="page">Employee</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<div class="content content-page">
<div class="container-fluid">
<div class="row">

    {% include 'dashboard_navbar_link.html' with employer=request.user %}

    <div class="settings-menu">
        <ul>
        <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link">
        <i class="material-icons">verified_user</i> Dashboard
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'manage_projects' %}" class="nav-link active">
        <i class="material-icons">business_center</i> Projects
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'review' %}" class="nav-link">
        <i class="material-icons">record_voice_over</i> Reviews
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'chats' %}" class="nav-link">
        <i class="material-icons">chat</i> Messages
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'verify_identity' %}" class="nav-link">
        <i class="material-icons">person_pin</i> Verify Identity
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'deposit_funds' %}" class="nav-link">
        <i class="material-icons">wifi_tethering</i> Payments
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'profile_settings' %}" class="nav-link">
        <i class="material-icons">settings</i> Settings
        </a>
        </li>
        <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link">
        <i class="material-icons">power_settings_new</i> Logout
        </a>
        </li>
        </ul>
        </div>
        </div>
        </div>

<div class="col-xl-9 col-md-8">
<nav class="user-tabs mb-4">
<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
<li class="nav-item">
<a class="nav-link active" href="{% url 'view_project_detail' %}">Overview & Discussions</a>
</li>
</ul>
</nav>

<div class="my-projects">

<div class="my-projects-list pro-list-view">
<div class="row">
<div class="col-lg-10 flex-wrap">
<div class="projects-card flex-fill">
<div class="card-body">
<div class="projects-details align-items-center">
<div class="project-info">
<h2>Website Designer Required For Directory Theme</h2>
<div class="customer-info">
<ul class="list-details">
<li>
<div class="slot">
<p>Price type</p>
<h5>Fixed</h5>
</div>
</li>
<li>
<div class="slot">
<p>Date</p>
<h5><a href="#" class="hired-detail">Hired on 19 JUN 2021</a></h5>
</div>
</li>
<li>
<div class="slot">
<p>Expiry</p>
<h5>4 Days Left</h5>
</div>
</li>
</ul>
</div>
</div>
<div class="project-hire-info">
<div class="content-divider"></div>
<div class="projects-amount">
<h3>$500.00</h3>
<h5>in 12 Days</h5>
</div>
<div class="content-divider"></div>
<div class="projects-action">
<div class="hire-select">
<select class="form-control select">
<option>Ongoing</option>
<option>Completed</option>
<option>Cancelled</option>
</select>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-2 d-flex flex-wrap">
<div class="projects-card flex-fill">
<div class="card-body">
<div class="prj-proposal-count text-center hired">
<img src="{% static 'assets/img/developer/developer-01.jpg' %}" alt class="img-fluid">
<p class="mb-2">Hannah Finn</p>
<a href="{% url 'chats' %}" class="btn btn-chat">Chat Now</a>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
<div class="pro-post widget-box">
<h3 class="pro-title">Overview</h3>
<div class="pro-overview">
<h4>Senior Animator</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. </p>
<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus.</p>
</div>
</div>
<div class="pro-post widget-box">
<h3 class="pro-title">Skills Required</h3>
<div class="pro-content">
<div class="tags">
<span class="badge badge-pill badge-design">After Effects</span>
<span class="badge badge-pill badge-design">Illustrator</span>
<span class="badge badge-pill badge-design">HTML</span>
<span class="badge badge-pill badge-design">Whiteboard</span>
<span class="badge badge-pill badge-design">HTML</span>
<span class="badge badge-pill badge-design">Whiteboard</span>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


{% include 'footer.html' %}

</div>


{% include 'scripts.html' %}
</body>
</html>